.Container{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;

  img{
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}

.posts{
  display: block;
  height: 6.75rem;

  & + &{
    margin-top: 50px;
  }

  h2 {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  p {
    margin-top: 8px;
    font-size: 1.125rem;
    color: var(--body);
    line-height: 1.5rem;
  }

  .postInfo {
    margin-top: 25px;
    font-size: 0.875rem;
    color: var(--body);

    display: flex;
    align-items: center;

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }

    time,address {
      display: flex;
      align-items: center;
    }

    address {
      margin-left: 30px;
      font-style: unset;
    }


  }
}

.loadMore {
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--highlight);
  line-height: 22px;
  margin-top: 60px;

  transition: filter .2s;

  &:hover{
    filter: brightness(0.8)
  }
}
